TextField(
  textCapitalization: TextCapitalization.sentences,
  decoration: InputDecoration(
      prefixIcon: Image.asset(
        'assets/grupo33697.png',
        width: 13.9,
      ),
      border: OutlineInputBorder(
          borderSide: BorderSide(width: 50),
          borderRadius: const BorderRadius.all(
              const Radius.circular(15))),
      hintText: 'Escribe tu usuario',
      hintStyle: TextStyle(
          fontSize: 16,
          fontWeight: FontWeight.w500,
          color: Color.fromRGBO(52, 52, 52, 1))),
),